[Unit]
Description=Small multinode server manager
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=Galena
ExecStart=python3 ${exec} boot

[Install]
WantedBy=multi-user.target