[Unit]
Description=Periodic git Copy
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
RestartSec=1
ExecStart=/bin/bash {exec}

[Install]
WantedBy=multi-user.target