[Unit]
Description=Shuts down all nodes
DefaultDependencies=no
Before=halt.target shutdown.target reboot.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/usr/sbin/i2cset -y -m $((2#00000001)) 1 0x20 1 0x00; /usr/sbin/i2cset -y -m $((2#00000010)) 1 0x20 1 0x00; /usr/sbin/i2cset -y -m $((2#00000100)) 1 0x20 1 0x00; /usr/sbin/i2cset -y -m $((2#00001000)) 1 0x20 1 0x00'
RemainAfterExit=yes

[Install]
WantedBy=halt.target shutdown.target reboot.target